body {
    background-color: #637085;
    color: #013038;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 50px;
    line-height: 1.5;
}

h1 {
    color: #000000;
}

h2 {
    color: #000000;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

ul {
    padding-left: 20px;
}

a {
    color: #0d171f;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 300px;
    border: 3px solid #072424;
    border-radius: 8px;
    margin: 15px 0;
}
.titulo {
  background: rgb(145, 25, 25);
}
.sobre {
    background: rgb(42, 71, 158);
}
.hobies {
  background: rgb(6, 82, 75);
}
.imagem {
  background: rgb(216, 219, 21);
}
.links {
  background: rgb(47, 2, 77);
}